<div class="page-wrapper">
    <div class="container-fluid animated fadeIn">
        <div class="row page-titles">
            <div class="col-5 ">
                <h3 class="text-info">Register patient</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4">
                    <div class="form-body">
                        <div *ngIf="">

                        </div>
                        <h3 class="card-title">Patient data</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="form-group col-6">
                                <label class="control-label">Full name</label>
                                <input type="text" class="form-control" [(ngModel)]="patient.name" placeholder="Example: Julio Sanchez Fernandez">
                            </div>
                            <div class="form-group col-6">
                                <label class="control-label">Age</label>
                                <input type="text" class="form-control" [(ngModel)]="patient.age" placeholder="Example: 31">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label>Telephone</label>
                                <input type="text"  class="form-control" [(ngModel)]="patient.telephone" placeholder="Example: 652334187">
                            </div>
                            <div class="form-group col-6">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" [(ngModel)]="patient.address" placeholder="Example: Av. Venustiano carranza 43 (Zaragoza)">
                            </div>
                        </div>                                     
                    </div>
                    <div class="form-actions">
                        <button  class="btn btn-success" (click)="createPatient()">Save</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

