<header class="topbar">
    <nav class="navbar top-navbar ">
        <div class="navbar-header">
            <span class="navbar-brand" >
                    <h2 style="color:white">Medical Center</h2>
            </span>
        </div>
    </nav>
</header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="user-profile">
                        <a class="waves-effect waves-dark" aria-expanded="false"><img src="../assets/images/users/d6.jpg"/>
                            <span class="hide-menu">Dr. Smith</span>
                        </a>                        
                    </li>
                    <li class="nav-devider">
                    </li>
                    <li> 
                        <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                            <span class="hide-menu">Patients</span>
                        </a>
                        <ul>
                            <li>
                                <a [routerLink]="['/crear-paciente']" >Register Patient</a>
                            </li>
                            <li>
                                <a [routerLink]="['/datos-paciente']" >Patient Data</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                            <span class="hide-menu">Registros Clínicos</span>
                        </a>
                        <ul>
                            <li>
                                <a [routerLink]="['/nuevo-historial']">Nuevo Historial</a>
                            </li>
                            <li>
                                <a [routerLink]="['/historial-paciente']">Historial del Paciente</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>