<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Nuevo Registro Clínico </h3>
            </div>                

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                    <div class="form-group row" >
                        <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                        <div class="col-5">
                            <select class="form-control">
                                    <option value="">Brenda</option>
                            </select>                            
                        </div>
                        <label for="example-search-input" class="col-1 col-form-label"></label>
                        <div class="col-4">
                            <input class="form-control" type="hidden"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label" >LABOR</label>
                        <div class="col-10">
                            <input class="form-control" type="text"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">PESO</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                        <label for="example-search-input" class="col-2 col-form-label">TALLA</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">FC</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                        <label for="example-search-input" class="col-2 col-form-label">FR</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">TA</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                        <label for="example-search-input" class="col-2 col-form-label">TEMP</label>
                        <div class="col-4">
                            <input class="form-control" type="text"  >
                        </div>
                    </div>
                    <div class="form-group row">
                    <button type="button" class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                    </div>
                    <div>
                        
                        <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                            <div class="col-10">
                                <input class="form-control" type="text"  >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">ANTECEDENTES PERSONALES NO PATOLOGICOS</label>
                            <div class="col-10">
                                <input class="form-control" type="text"  >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">HEMOTIPO</label>
                            <div class="col-10">
                                <input class="form-control" type="text"  >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">ALERGIAS</label>
                            <div class="col-10">
                                <input class="form-control" type="text"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label>ANTECEDENTES PERSONALES PATOLOGICOS</label>
                            <textarea class="form-control" rows="4" ></textarea>
                        </div>

                        <div class="form-group">
                            <label>ANTECEDENTES GINECOOBSTÉTRICOS</label>
                            <textarea class="form-control" rows="4"  ></textarea>
                        </div>
                    
                        <div class="form-group">
                            <label>QX</label>
                            <textarea class="form-control" rows="8"  ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>PA</label>
                        <textarea class="form-control" rows="7"  ></textarea>
                    </div>

                    <div class="form-group">
                        <label>S</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>

                    <div class="form-group">
                        <label>O</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>
                         
                    <div class="form-group">
                        <label>A</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>

                    <div class="form-group">
                        <label>DX</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>

                    <div class="form-group">
                        <label>TX</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>

                    <div class="form-group">
                        <label>PLAN</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>

                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">CITA PROXIMA</label>
                        <div class="col-10">
                            <input class="form-control" type="text"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>TRATAMIENTO</label>
                        <textarea class="form-control" rows="8" ></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">IDPACIENTE</label>
                        <div class="col-10">
                            <input class="form-control" type="text"  disabled>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button class="btn btn-success"> <i class="fa fa-check"></i> REGISTRAR HISTORIAL </button> - <button  class="btn btn-success"> <i class="fa fa-check"></i> Seleccionar </button> 
                        
                    </div>
            </div>
        </div>            
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->